/SectionSupport/bin/Debug/RevitAPI.dll
/SectionSupport/bin/Debug/RevitAPIUI.dll
/SectionSupport/bin/Debug/RevitAddInUtility.dll
/SectionSupport/bin/Debug/SectionSupport.dll
/SectionSupport/bin/Debug/SectionSupport.pdb
/SectionSupport/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SectionSupport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SectionSupport/obj/Debug/SectionSupport.HiddenFilter.resources
/SectionSupport/obj/Debug/SectionSupport.SectionName.resources
/SectionSupport/obj/Debug/SectionSupport.csproj.CopyComplete
/SectionSupport/obj/Debug/SectionSupport.csproj.CoreCompileInputs.cache
/SectionSupport/obj/Debug/SectionSupport.csproj.FileListAbsolute.txt
/SectionSupport/obj/Debug/SectionSupport.csproj.GenerateResource.cache
/SectionSupport/obj/Debug/SectionSupport.csprojAssemblyReference.cache
/SectionSupport/obj/Debug/SectionSupport.dll
/SectionSupport/obj/Debug/SectionSupport.pdb
/SectionSupport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SectionSupport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SectionSupport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SectionSupport/.vs/SectionSupport/v15/.suo
/SectionSupport/.vs/SectionSupport/v15/Server/sqlite3/db.lock
/SectionSupport/.vs/SectionSupport/v15/Server/sqlite3/storage.ide
/SectionSupport/.vs/SectionSupport/v15/Server/sqlite3/storage.ide-shm
/SectionSupport/.vs/SectionSupport/v15/Server/sqlite3/storage.ide-wal
/SectionSupport/.vs/SectionSupport/v16/.suo
/SectionSupport/.vs/SectionSupport/v16/Server/sqlite3/db.lock
/SectionSupport/.vs/SectionSupport/v16/Server/sqlite3/storage.ide
